<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wedding Gallery</ion-title>   
    <ion-buttons end>
      <button ion-button *ngIf="!!user" (click)="presentPopover($event)">
        <ion-icon style="margin-right: 10px" name="person"></ion-icon> {{ user.username }}
      </button>
      <button ion-button *ngIf="user == null" (click)="openLoginModal()">
        <ion-icon style="margin-right: 10px" name="log-in"></ion-icon> Log In
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides #slides style="max-height: 90%; max-width: 80%; margin: 0 auto">    
    <ion-slide *ngFor="let picture of gallery">
      <button *ngIf="!!user" ion-button class="heart-button" (click)="likePicture(picture.id)">
        <ion-icon name="heart" [ngClass]="{'empty-heart': !userLikedPic(picture), 'filled-heart': userLikedPic(picture)}"></ion-icon> {{picture.likes | count}}
      </button>
      <img src="https://s3.us-east-2.amazonaws.com/capybaraweddingapp/{{picture.filename}}" class="product-image" />
      <button *ngIf="!!user && isAdmin" ion-button icon-only (click)="approvePicture(picture)" [ngClass]="{'approve-button': !picture.approved, 'approved-button': picture.approved}">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>      
      <button *ngIf="!!user" (click)="deleteFile(picture.id)" ion-button icon-only class="remove-button">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button (click)="prev()" ion-button icon-only class="prev-button">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
      <button (click)="next()" ion-button icon-only class="next-button">
        <ion-icon name="arrow-round-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>

  

  <ion-fab *ngIf="!!user" right bottom>
    <button ion-fab color="primary" (click)="openUploadModal()"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>

</ion-content>
